<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<th:block th:insert="Header.html"></th:block>

	<div class="container-fluid">
		<div class="card">
			<div class="card-header text-center bg-primary text-white">
				<h1>Image Gallery</h1>
			</div>
			<div class="card-body bg-secondary">
				<span th:each="image : ${imgNameList}">
				<a th:href="@{'/images/'+${image}}" target="_blank">
					<img class="p-2" th:src="@{'/images/'+${image}}" width="400" height="300">
				</a>
				</span>
				
			</div>
			<div class="card-footer text-center bg-warning">@copyright6000</div>
		</div>
	</div>
</body>
</html>